
body {
  margin: 0;
  font-family: 'Raleway';
  font-weight: 700;
  /* height: 100vh; */
}

main {
  max-width: 960px;
  margin: 10rem auto;
  height: 100vh;
  padding:3em;
  border-radius: 0.5rem;
  background: #ed6c6dd1;
  box-shadow: 0px 0px 5px rgb(156, 147, 147);
  color: whitesmoke;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  margin: auto;
  overflow: initial;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.button-form {
  border-radius: 36.3rem;
  padding: 0.5rem;
  background: black;
  width: 10rem;
  color: whitesmoke;
}

.button-form:hover{
background: whitesmoke;
color:black
}

.add-member-title{
    padding-top: 5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-item {
  padding: 2em 2em;
}

.error{
  text-align: center;
  padding: 0.5rem;
}

footer {
  /*margin-top: 2em;*/
  text-align: center;
  color: whitesmoke;
  background: #f76c6c;
  padding: 0.5em 0;
}

@media 