<%- include('partials/header')%>

<!-- Main section -->
<main>
    
    <!-- New member form -->
    <h2 class="add-member-title">Ajouter un(e) Argonaute</h2>
    <form class="new-member-form">
      <label for="name">Nom de l&apos;Argonaute</label>
      <input id="name" name="name" type="text" placeholder="Charalampos" />
      <button type="submit">Envoyer</button>
    </form>
    
    <!-- Member list -->

    <section >
        <h2>Documentation</h2>
      <div class="member-item">Eleftheria</div>
      <div class="member-item">Gennadios</div>
      <div class="member-item">Lysimachos</div>
    </section>
  </main>

<%- include('partials/footer')%>